/* Color Palette
#213555 - color 1
#3E5879 - color 2
#D8C4B6 - color 3
#F5EFE7 - color 4
*/

/* Global styles 
------------------------------------*/
:root {
  --primary-color: #213555;
  --secondary-color: #3E5879;
  --tertiary-color:  #D8C4B6;
  --quaternary-color: #F5EFE7;
}

body {
  background: var(--quaternary-color);
  font-family:  'Roboto Slab', 'BBH Sans Hegarty', serif;
}

h1 {
  font-size: 5rem;
  font-family:  'Roboto Slab', 'BBH Sans Hegarty', serif;
  font-weight: 800;
}

h2 {
  font-size: 4rem;
  font-family:  'Roboto Slab', 'BBH Sans Hegarty', serif;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-family:  'Roboto Slab', 'BBH Sans Hegarty', serif;
}

p,
ul li {
  font-size: 1.5rem;
  font-family: 'Roboto Slab', 'BBH Sans Hegarty', serif;
  font-weight: 300;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
}


/* Header & Footer 
------------------------------------*/
.head-foot {
  background: var(--tertiary-color);
}


/* Work Experience
------------------------------------*/
.work {
  background: var(--primary-color);
  color: var(--quaternary-color);
}


/* Education
------------------------------------*/
.education {
  background: var(--primary-color);
  color: var(--quaternary-color);
}
